@{
    ViewBag.Title = "Home Page";
}

<div class="">
    @Scripts.Render("~/bundles/modernizr")
    <section id="carousel">
        <div class="carousel">
            <div class="carousel-left">
                <div class="carousel-left-slide">

                    <div key={1}>
                        <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/ip12den-tet-690-300-max.png"></img>
                    </div>

                </div>

            </div>
            <div class="carousel-right">
                <div class="carousel-right-item">
                    <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/desk_690x300_right-banner_DienThoai.png"></img>
                </div>

                <div class="carousel-right-item">
                    <img src="https://cdn.cellphones.com.vn/media/ltsoft/promotion/desk_690x300_right-banner_Op-Balo.png"></img>
                </div>
            </div>
        </div>
    </section>
</div>
<section id="hotsale iphone">
    <div class="hotsale">
        <h2>Iphone</h2>
        <div class="hotsale-listproduct">
            <div class="hotsale-listproduct-product">
                <div>
                    <a href="https://localhost:44354/Home/About">
                        <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg">
                    </a>
                    </img>
                    <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                    <div class="price">
                        <span class="price1">20.000.000đ</span>
                        <span class="price2">22.990.000đ</span>
                    </div>
                </div>
                <div class="discount">
                    <p>13%</p>
                </div>
                <div class="buy">
                    <a to=""> Mua Ngay</a>
                </div>
            </div>

            <div class="hotsale-listproduct-product">
                <div>
                    <img class="img" src="https://cdn.cellphones.com.vn/media/catalog/product/cache/7/small_image/220x175/9df78eab33525d08d6e5fb8d27136e95/i/p/iphone-12_7__6.jpg"></img>
                    <p class="hotsale-listproduct-product-name">iPhone 12 mini 256GB I Chính hãng VN/A</p>
                    <div class="price">
                        <span class="price1">20.000.000đ</span>
                        <span class="price2">22.990.000đ</span>
                    </div>
                </div>
                <div class="discount">
                    <p>13%</p>
                </div>
                <div class="buy">
                    <a to=""> Mua Ngay</a>
                </div>
            </div>
        </div>
        </div>
</section>